body {
    background-color: rgb(24, 24, 27);
    color: white;
    font-family: poppinslight;
    margin-left: 36%;
    margin-top: 2%;
    justify-content: center;
}

* {
    margin: 0;
    padding: 0;
}

#titulo {
    color: rgb(169, 112, 255);
    margin-left: 7%;
    margin-top: -2%;
    font-family: poppinsbold;
}

#subtitulo {
    margin-left: 4%;
    margin-top: -1%;
    font-family: poppinsmedium;
}

fieldset {
    border: 0;
}

input, select, textarea, button {
    border-radius: 10px;
}

.campo {
    margin-bottom: 1em;
}

.campo label {
    
    margin-bottom: 0.2em;
    color: rgb(169, 112, 255);
    display: block;
}

fieldset.grupo .campo{
    float: left;
    margin-right: 1em;
}

.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea {
    padding: 0.2em;
    border: 1px solid rgb(169, 112, 255);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    display: block;
}

.campo select option{
    padding-right: 1em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus {
    background: white;
}

.botao {
    font-size: 1.2em;
    background: rgb(169, 112, 255);
    border: 0;
    margin-bottom: 1em;
    color: white;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2 px 2px rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    position: absolute;
    margin-top: 10px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.botao:hover {
    background: rgb(24, 24, 27);
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: none;
    color: rgb(169, 112, 255);
    transition: 0.3s all;
}

.botao, select {
    cursor: pointer;
}

#check {
    display: inline-block;
}
